<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>

  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name ="wsSecureBinding"  >
          <security mode ="TransportWithMessageCredential" >
     
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="wsPlainBinding"  > </binding>

      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="defaultProfile" name="WcfServiceLastSample.Service1">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsSecureBinding" name="wsSecureService"
                  contract="WcfServiceLastSample.IService1">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:44389" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultProfile">

          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>


          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                   customUserNamePasswordValidatorType ="WcfServiceLastSample.ServiceAuthenticator,WcfServiceLastSample" />

            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>  
          
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>

      <add binding="wsHttpBinding" scheme="https"  />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
